* {
    box-sizing: border-box;
}

img {
    width: 100%;
}

/* GENERELT */
p,
h1 {
    font-family: 'Open Sans', sans-serif;
    margin: 0 7vw;
}

nav a {
    font-family: 'Open Sans', sans-serif;
}

/* TOPPEN */
header {
    width: 100vw;
}

header nav {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-end;
    background-color: #093A82;
    color: white;
    font-size: 2rem;
    max-width: 93.3vw;
}


header nav a {
    display: flex;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    color: white;
    font-size: 1.5rem;
    margin-right: 5vw;
}

header nav a:visited {}

.hidden {
    transform: translateX(-100%);
    opacity: 0;
    display: none;
}

#menuknap {
    display: inline-block;
    margin-right: 5vw;
    font-family: 'Open Sans', sans-serif;
    /*margin: 0.5rem;*/
}

/* INDHOLD */
/* INDHOLD FØRSTE TEKST */
#section_1 {
    display: flex;
    flex-wrap: wrap-reverse;
    flex-direction: row-reverse;
}

.foto_1,
.txt_1 {
    flex-grow: 1;
    flex-basis: 400px;
}

.txt_1 {
    margin-top: 10vw;
    margin-bottom: 2vw;
}

.foto_1 {
    max-width: 70vw;
    margin: auto;
}

/* INDHOLD ANDEN TEKST */
#section_2 {
    margin-top: 15vw;
    position: relative;
    text-align: center;
}

.txt_2 {
    position: absolute;
    max-width: 70vw;
    top: 10vw;
    left: 22vw;
}

/* INDHOLD TREDJE TEKST */
.txt_3 {
    margin-top: 15vw;
}

@media only screen and (min-width:800px) {

    #menuknap {
        display: none;
    }

    .hidden {
        transform: translateX(0);
        opacity: 1;
        display: inline-block;
    }

    header li {
        display: inline-block;
        letter-spacing: 1px;
        margin-left: 2vw;
    }

    header nav {
        max-width: 97.6vw;
        height: 50px;
    }

    ul {
        margin-top: 0.2em;
        margin-right: 2rem;
    }


    header nav li {
        /*        padding: 0.2rem;
        background-color: transparent;
        margin: 0.2rem;
        text-decoration: none;*/
    }

    #splash img {}


    /* INDHOLD */

    /*Dette gøres for at tekst kan komme ovenpå billedet */
    #section_2 {
        position: relative;
        text-align: center;
    }

    .txt_2 {
        position: absolute;
        left: 70vw;
        top: 20vw;
    }
}
